# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.Pipfile.lock

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
# If you collect static into a single folder:
# /static/

# dotenv
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
desktop.ini

# Logs
logs/
*.log

# Coverage
.coverage
htmlcov/
.coverage.*

# Test / profiling
.prof
.pytest_cache/
.tox/

# MyPy
.mypy_cache/
.dmypy.json

# Other editor dirs
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints/

# Celery beat schedule file
celerybeat-schedule

# Temporary files
*.tmp
*.bak
